@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Luckiest+Guy&family=Paytone+One&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gothic+A1:wght@400;700;800;900&display=swap');
body {
    font-family: 'Quicksand', sans-serif;
}

* {
    box-sizing: border-box;
}

.inner {
    width: 1280px;
    margin: auto;
}

a {
    display: block;
}