* {
    margin: 0;
    padding: 0;
}

ul,
li,
ol {
    list-style: none;
}

button {
    padding: 5px 10px;
}

.App {
    width: 1100px;
    margin: 0 auto;
    padding-top: 30px;
}

.fun-box.on {
    display: block;
}

.fun-box.off {
    display: none;
}

.lang-box {
    width: 1100px;
    height: 500px;
    margin: 20px auto;
    text-align: center;
    align-content: center;
}

.lang-ko {
    font-size: 20px;
    font-weight: bold;
}