.search-bar {
    padding: 15px 25px;
    position: relative;
}

.search-bar input[type='text'] {
    width: 100%;
    background-color: #f1f2f3;
    border-radius: 5px;
    border: 1px solid transparent;
    text-align: center;
}

.search-bar input[type='text']:focus {
    border: 1px solid #ffe94a;
    outline: none;
}

.search-bar i {
    position: absolute;
    color: #bbb;
    top: 18px;
    left: 40px;
}